#game-scores {
  border-collapse: collapse;
  font-size: 16px;
}

#game-scores tr th {
  text-align: center;
}

.c0 {
  width: 120px;
  text-align: center;
}

.c1 {
  width: 80px;
  text-align: right;
  padding-right: 3px;
}

.c2 {
  width: 50px;
  text-align: center;
}

.c3 {
  text-align: right;
  padding-right: 3px;
}