text {
  fill: #000;
  font: 12px sans-serif;
  pointer-events: none;
}

text.shadow {
  stroke: #fff;
  stroke-width: 3px;
  stroke-opacity: 0.8;
}

svg {
  border: 2pt solid #000;
}

.tooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  height: 28px;
  padding: 5px;
  font-size: 10px sans-serif;
  font-weight: bold;
  background-color: #9ecae1;
  border: 0px;
  border-radius: 8px;
/*  pointer-events: none;	This line needs to be removed */
}

#settings-table {
  border-spacing: 10px;
  border-collapse: separate;
}

#log {
  min-height: 150px;
  width: 90%;
}

#cy {
  float:left;
  margin-left: 100px;
  position: relative;
  width: 1000px;
  height: 700px;
  display: block;
  background: #000;
}

#game-controllers {
  float: left;
  padding-left: 20px;
}

#controlers-header {
  align: center;
  font-size: 22px;
  margin-bottom: 3px;
}

#visualise-settings {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#game-scores {
  border-collapse: collapse;
  font-size: 18px;
}

#score-header {
  font-size: 22px;
}

#game-scores tr th {
  text-align: center;
}

.c0 {
  width: 140px;
  text-align: center;
}

.c1 {
  width: 80px;
  text-align: right;
}

.c2 {
  width: 80px;
  text-align: center;
}

#line-width, #time-span {
  height: 30px;
  width: 50px;
}