#viewer-container {
  overflow: hidden;
  position: relative;
}

#viewer-container ul {
  list-style: none;
  position: relative;
  left: 50%;
  float: left;
}

#viewer-container ul li {
  position: relative;
  left: -50%;
  float: left;
}

#cy-container {
  margin-left: -5%;
}

#game-controllers {
  padding-left: 20px;
}

#controlers-header {
  align: center;
  font-size: 18px;
  margin-bottom: 3px;
}

#visualise-settings {
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 40px;
}

#game-scores {
  border-collapse: collapse;
  font-size: 16px;
}

#score-header {
  font-size: 18px;
}

#game-scores tr th {
  text-align: center;
}

.c0 {
  width: 140px;
  text-align: center;
}

.c1 {
  width: 80px;
  text-align: right;
}

.c2 {
  width: 80px;
  text-align: center;
}

#line-width, #time-span {
  height: 30px;
  width: 50px;
}